.main{
  .logo-con{
    height: 64px;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  .header-con{
    background: #fff;
    padding: 0 20px;
  }
  .tag-nav-wrapper{
    padding: 0;
    height:40px;
    background:#F0F0F0;
    overflow: hidden;
  }
}
